.container {
  display: flex;
  overflow: hidden;
  .left {
    width: 310px;
    display: flex;
    flex-direction: column;
    header {
      height: 44px;
      background-color: #1c1c1c;
    }
    section {
      height: calc(100vh - 44px);
      background-color: #24282a;
      overflow-y: auto;
      .tabs {
        position: sticky;
        top: 0;
        background-color: #24282a;
        z-index: 2;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid #3d3b3b;
        font-size: 16px;
        .tab {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .content {
    flex: 1;
    background-color: #33373a;
  }
}
