/*
 * @Author: huhanchi 
 * @Date: 2022-03-09 22:52:21 
 * @Last Modified by:   huhanchi 
 * @Last Modified time: 2022-03-09 22:52:21 
 */
.breadcrumbs {
  display: flex;
  align-items: center;
  color: #cbd0d0;
  font-size: 18px;
  padding-bottom: 12px;
  &::after {
    content: "";
    flex: 1;
    margin: 0 0 0 20px;
    border-bottom: 3px solid #7c7c7c;
  }
}
