.app {
  text-align: center;
  // background-color: #000;
  .app-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    input {
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 4px 8px;
      font-size: calc(10px + 1vmin);
      margin-bottom: 20px;
      transition: 500ms all;
      &::placeholder {
        color: #ddd;
        font-size: calc(10px + 1vmin);
      }
      &:hover {
        border: 1px solid yellow;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid yellow;
        box-shadow: 0 0 2px yellow;
      }
    }
  }
  .app-logo {
    height: 20vmin;
    pointer-events: none;
  }
  .app-link {
    color: #61dafb;
    font-size: calc(10px + 1vmin);
  }
}
